.eventName{
	position: absolute;
	top: 15px;
}

.gallery img {
  width: 100%;
  height: auto;
}

.gallery figure {
  display: inline-block;
  margin: 0 5px 5px 0;
  width: 150px;
}

.gallery figcaption {
  display: none;
}

#viewContainer {
  width: 100%;
  height: auto;
  text-align: center;
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 100%;
}

#header {
  position: fixed;
  text-align: center;
  background-color: rgba(200, 223, 255, 0.25);
  box-shadow: 0px 1.5px 7px rgba(0, 0, 0, 0.2);
  padding: 7px;
  width: 100%;
  display: block;
  z-index: 200;
}

#hotFix {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 94px;
  display: block;
  z-index: 100;
}

#hotFix2 {
  position: fixed;
  top: 90px;
  width: 150px;
  height: 20px;
  background-color: #f2f7ff;
  z-index: 300;
}

#navSideBar {
  position: fixed;
  padding-top: 50px;
  background-color: rgba(200, 223, 255, 0.25);
  width: 150px;
  margin-top: 94px;
  height: calc(100% - 144px);
  box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.2);
}

#navSideBar .navs {
  display: block;
  height: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: .5s;
  padding-left: 40px;
  cursor: pointer;
}

#navSideBar .navs:hover {
  background-color: rgba(210, 233, 255, 0.7);
  padding-left: 50px;
  color: #555;
}

#viewContainer {
  position: absolute;
  top: 94px;
  left: 150px;
  height: auto;
  width: calc(100% - 150px);
  text-align: center;
}