.eventName{
	position: absolute;
	top: 15px;
}

.gallery img {
  width: 100%;
  height: auto;
}

.gallery figure {
  display: inline-block;
  margin: 0 5px 5px 0;
  width: 150px;
}

.gallery figcaption {
  display: none;
}

#viewContainer {
  width: 100%;
  height: auto;
  text-align: center;
}


