{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Groupic - About Us {% endblock %}
{% block header %} About Us {% endblock %}
{% block content %}
    <!-- Page Content
    ================================================== --> 
    <div class="about"><!--Container row-->

        <div class="offset2 span7"><!--Begin page content column-->
            <h2>Back to 2014's Summer</h2>    
            <p>
                We are a group of students who live in the middle of the the conflict. we, and many other people have been influenced a lot by the mass media during the the Gaza-War. The media we consume on a daily basis is full of agenda and biased opinions. We came to the concluaion that this is an issue that needs to be solved.

            </p>

                       <h2>So We Came Up With Groupic</h2>    
            <p>
                Groupic is an app that lets it's users view public events in real time and without any agenda or political motive
            </p>

 

        </div><!-- End sidebar column -->

    </div><!-- End container row -->
    
    </div> <!-- End Container -->
{% endblock %}
    <!-- Footer Area
        ================================================== -->

