{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Groupic - Contact Us {% endblock %}
{% block content %}
    <!-- Page Content
    ================================================== --> 
    <div class="row"><!--Container row-->

        <div class="span8 offset2 contact"><!--Begin page content column-->

            <h2>About Us</h2>
            <p>We Are a group of Israeli and Palestinian students that work together in order to create
		a political and social impact by working on a project together. Our project is Groupic. Groupic is a service that allows people to see new perspectives by viewing a lot of pictures from events that show both sides.</p>

            <div class="alert alert-success">
                Well done! You successfully read this important alert message. 
            </div>
		<div class="span3" style="margin-left:0">
			<p>The way the idea works is simple. once a user opens our app it acts just like his regular cell phone camera.
every picture the user takes goes to a centralized ablum of the event. This way the album gets filled with a lot of pictures that show different perspectives. This way our viewers can see a lot of different sides of the same coin. The ablum can be accessed website or app by anyone and that way people can see what really happened without any agenda behind the pictures.</p>
		</div>
		<div class="span4">
			<p>The other part of the app is the private side. The private side targets a smaller social group. When you and your friends go to an event you as the event creator can host a gathering through our app. Anyone in the event can join the gathering and from then on out, any picture the users take through in app is stored in the event's album. This way people can view all the pictures everyone took in the event in 1 centralized easy to access album.</p>
		</div>

  <!--End page content column-->

        <!-- Sidebar
        ================================================== --> 
        <div class="span4 sidebar page-sidebar"><!-- Begin sidebar column -->
            <!--<h5 class="title-bg">Our Location</h5>
            <address>
            <strong>Piccolo</strong><br>
            123 Main St, Suite 600<br>
            Jerusalem, Israel 94107
            </address>
             <h5 class="title-bg">Contact Us</h5>
            <address>
            <h5>Customer Service</h5>
            <a href="mailto:#">Customer_Service@groupic.com</a><br>
            <abbr title="Phone">P:</abbr> +972-54-5983-445
            </address>

            <h5 class="title-bg">Map Us</h5>
            <img src="{% static "events/images/location-map.jpg" %}" alt="map">
	-->
        </div><!-- End sidebar column -->

    </div><!-- End container row -->
    
    </div> <!-- End Container -->
{% endblock %}
    <!-- Footer Area
        ================================================== -->

