{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "events/css/main.css" %}">
    {% block styles %}{% endblock %}
</head>
<body >
    <div id="hotFix">

		<!-- header transparent, content goes under it on scroll, fixed ==> put white div underneath header and content underneath this div -->

	</div>

	<div id="header">

		<img src={% static "events/images/Logo.png" %}>

	</div>

	<div id="hotfix2">

		<!-- NavSideBar and header connect -->

	</div>

	<div id="navSideBar">

		<span class="navs">Home</span> 
		<span class="navs">Galleries</span> 
		<span class="navs">Events</span>
	</div>
	
    <div id="viewContainer">
{% block content %}{% endblock %}
    </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    {% block scripts %}{% endblock %}
	<div id="footer">
{% block footer %}{% endblock %}
	</div>
</body>
</html>

<!-- #44BBF8 Blue, #808082 black -->
