{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Groupic - About Us {% endblock %}
{% block content %}
    <!-- Page Content
    ================================================== --> 
    <div class="about"><!--Container row-->
        <div class="offset2 span7"><!--Begin page content column-->
        <div class="span8 contact"><!--Begin page content column-->
            <h1> Contact Us</h1>
            <form action="#" id="contact-form">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-user"></i></span>
                    <input class="span4" id="prependedInput" size="16" type="text" placeholder="Name">
                </div>
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-envelope"></i></span>
                    <input class="span4" id="prependedInput" size="16" type="text" placeholder="Email Address">
                </div>
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-globe"></i></span>
                    <input class="span4" id="prependedInput" size="16" type="text" placeholder="Website URL">
                </div>
                <textarea class="span6"></textarea>
                <div class="row">
                    <div class="span2">
                        <input type="submit" class="btn btn-inverse" value="Send Message">
                    </div>
                </div>
            </form>

        </div>
 

        </div><!-- End sidebar column -->

    </div><!-- End container row -->
    
    </div> <!-- End Container -->
{% endblock %}
    <!-- Footer Area
        ================================================== -->

