    {% extends "base.html" %}
    {% load staticfiles %}
    {% block styles %}

         <link rel="stylesheet" href="{% static "events/css/main.css"%}">

    {% endblock %}
    {% block content %}
    <div class="row">
        		<div  class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#">
                    	<span style="position:absolute; top:15px;">Name</span>
                        <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    </a>
                </div>

                {%for event in events%}
                    <div  class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#">
                        <span class="eventName">{{event.eventName}}</span>
                        <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    </a>
                </div>
                {% endfor %}
                
                
        	</div>
        {% endblock %}

        {% block scripts %}

         <script src="myscripts.js"></script>

    {% endblock %}