{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Groupic - Features {% endblock %}

{% block content %}
     
    <!-- Page Content
    ================================================== --> 
    
    <!-- Title Header -->
    <div class="row">
        <div class="span12">
            <h2>How does it Works?</h2>
        </div> 
        <div class="span4">
            <h5> Creating Public Events</h5>
            <p>Any user can create public events. These events can be small or large, but our service is smart enough to take multiple events that are near each other and combine them into one, therey providing one truly centralized album that anyone around the world can view. </p>
        </div>
        <div class="span4">
            <h5> Joining Public Events</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis mattis lorem, quis gravida nunc iaculis ac. Proin tristique tellus in est vulputate luctus fermentum ipsum molestie. Vivamus tincidunt sem eu magna varius elementum. Maecenas felis tellus, fermentum vitae laoreet vitae, volutpat et urna. Nulla faucibus ligula eget ante varius ac euismod odio placerat. Nam sit amet felis non lorem faucibus rhoncus vitae id dui.</p>
        </div>
        <div class="span4">
            <h5> Viewing Public Events</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis mattis lorem, quis gravida nunc iaculis ac. Proin tristique tellus in est vulputate luctus fermentum ipsum molestie. Vivamus tincidunt sem eu magna varius elementum. Maecenas felis tellus, fermentum vitae laoreet vitae, volutpat et urna. Nulla faucibus ligula eget ante varius ac euismod odio placerat. Nam sit amet felis non lorem faucibus rhoncus vitae id dui.</p>
        </div>

       
    </div> 
    
    <!-- Grid Example
    ================================================== --> 
    
    {% endblock %}
    <!-- End Container -->

